/* Обнуляем отступы */
@import "./reset.css"screen;
/* Подключаем шрифты */
@import "./fonts.css"screen;


html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	max-width: 1620px;
	margin: 0 auto;
	font-family: 'Lato';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 170%;
	color: #9D9D9D;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
	/* padding: 0 15px; */
}

/* Pop up offer section start */

.pop-up-offer {
	padding: 14px 0;
	background-color: #FAFAFA;
}

.pop-up-offer__container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 0px;
	gap: 24px;
}

.pop-up-offer__text {
	width: 263px;
	height: 27px;
	margin-top: 4px;
	line-height: 27px;
	color: #222222;
}

.pop-up-offer__button-goto {
	width: 116px;
	height: 34px;
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 34px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #222222;
	border-radius: 4px;
	border: 0;
}

.pop-up-offer-close {
	width: 18px;
	height: 18px;
	position: absolute;
	top: 22px;
	right: 27px;
	background: url(../img/svg/close-popup.svg) no-repeat center transparent;
	background-size: 18px;
}

/* Pop up offer section end */

/* Header section start */
.header {
	padding: 24px 0 42px;
}

.header__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	width: 111px;
	height: 46px;
	/* padding-top: 1px; */
}

.header__logo-pic {
	/* width: 100%;
	height: 100%; */
}

.header__catalog-menu {
	/* width: 116px; */
	background-size: 24px;
	background: url(../img/svg/catalog-menu-icon.svg) no-repeat left center transparent;
	padding-top: 2px;
	padding-left: 32px;
	color: #222222;
}

.header__catalog-menu-text {}

.header__search-field {
	width: 647px;
	height: 48px;
	background: url(../img/svg/search-icon.svg) no-repeat right 16px center transparent;
	border: 1px solid #E7E7E7;
	border-radius: 4px;
	padding: 16px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__search-field::placeholder {
	color: #9D9D9D;
}

.header__tools {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
}

.header__tools-separator {
	display: block;
	width: 1px;
	height: 24px;
	background-color: #D7D7D7;
	left: 0;
}

/* Header section end */

/* Menu section start */

.menu {
	padding: 8px;
}

.menu__wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 48px;
}

.menu__item-link {
	color: #222222;
	text-decoration: none;
}

/* Menu section end */

/* Sales slider section start */

.sales-section {
	height: 515px;
}

/* Sales slider section end */

/* Brands slider section start */

.brands-slider {
	height: 169px;
}

/* Brands slider section end */

/* New items section start */
.new-items {
	padding: 64px 0 32px;
}

.new-items__header {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 35px;
	color: #222222;
	margin-bottom: 34px;
}

.new-items__wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	/* padding: 13px 18px; */

}

.new-item {
	width: 320px;
	/* background: grey; */
}

.new-item__id {
	font-size: 12px;
	line-height: 14px;
	margin: 27px 18px 29px;
}

.new-item__image {
	display: block;
	margin: 0 auto 18px;
}

.new-item__title {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 27px;
	text-align: center;
	color: #222222;
	margin-bottom: 6px;
}

.new-item__collection {
	font-size: 14px;
	line-height: 160%;
	/* or 22px */
	text-align: center;
	color: #222222;
	margin-bottom: 42px;
	;
}

.new-item__price {
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	/* identical to box height */
	text-align: center;
	color: #000000;
	margin-bottom: 86px;
}

/* New items section end */

/* Instagram section start */
.instagram {
	height: 695px;
	background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #F4F5F5 100%);

}

/* Instagram section end */

/* Popular items section start */
.popular__section {
	border-bottom: 1px solid #D7D7D7;
	padding: 64px 0 30px;
}

/* Popular items section end */

/* Catalogue section start */
.catalogue {
	padding-top: 49px;
	padding-bottom: 43px;

}

.catalogue__nav {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 24px 62px;
}

.catalogue__menu-title {
	margin-bottom: 12px;
	color: #222222;
}

.catalogue__menu-link {
	text-decoration: none;
	line-height: 1.93em;
	color: #9D9D9D;
}

/* Catalogue section end */

/* Footer start */
footer {
	border: 1px solid #000000;
	padding: 68px;
}

.footer__wrapper {
	display: flex;
	flex-wrap: wrap;
	font-size: 14px;
	line-height: 160%;
	justify-content: space-between;
	/* align-items: center; */
}

.footer__logo{
	width: 120px;
	height: 50px;
}

.footer__email{
	text-decoration: none;
	color: grey;
}

/* Footer end */